<form method="post" action="/FileUpload" enctype="multipart/form-data">
    <p>
        <label for="File">File</label>
        <input type="file" id="File" name="file" />
    </p>
    <p>
        <button type="submit">Submit</button>
    </p>
</form>
