@{
    ViewBag.Title = "Home Page";
}

<p>
    MVC Testing Stub App Home
</p>
<ul>
    <li><a href="~/Home/RawForm">RawForm</a></li>
    <li><a href="~/Stub/ViewRequest">ViewRequest(GET)</a></li>
    <li><form action="~/Stub/ViewRequest" method="post"><button type="submit">ViewRequest(POST)</button></form></li>
</ul>
