@model MvcTesting.StubApp.Controllers.ViewRequestModel

<p>
    View Request
<p>
<p>
    Method=@Model.Method
</p>

@foreach (var query in Model.Query)
{
    <p>@query.Key=@query.Value</p>
}